{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}

{{ content_for_index }}
<div class="shopbooster-home-rev" id="shopbooster-ali"></div><script src="https://shopbooster.co/ali/product-home_js.js"></script>